.contacts-list {
  @include list-reset;
}

.contacts-list__link {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  padding-left: 0;
  text-decoration: none;
  color: $color-blue;

  transition: 0.2s color linear;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: $color-blue;

  transition: transform 0.2s linear, 0.2s fill linear;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: $color-accent;

  .contacts-list__icon {
    fill: $color-accent;
    transform: scale(1.3);
  }
}

@media (min-width: $desktop_s) {
  .contacts-list__item {
    margin-right: 20px;
  }
}