.main-nav {
}

.main-nav__list {
  @include list-reset;
  margin-bottom: -10px;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.main-nav__link {
  position: relative;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: $color-text;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: calc(100% - 10px);
    width: 0;
    height: 1px;
    background-color: $color-accent;
    transition: 0.2s linear;
  }
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link.active {

  &::after {
    width: calc(100% - 10px);
    left: 5px;
  }
}

.main-nav__link.active {}

@media (min-width: $desktop_s) {
  .main-nav__list {
    display: flex;
    margin: 0;
  }

  .main-nav__item {
    margin: 0;
    margin-right: 40px;
  }

  .main-nav__link {
    padding-bottom: 0;

    &::after {
      bottom: 0;
    }
  }
}