@media (max-width: $desktop_s - 1px) {
  .menu {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background-color: #ffffff;

    transform: translateX(100%);

    transition: transform 0.2s linear;
  }

  .menu.active {
    transform: translateX(0);
  }
}

@media(min-width: $mobile_l) {
  .menu {
    left: unset;
  }
}

@media (min-width: $desktop_s) {
  .menu {
    // // position: relative;
    // // display: flex;
    // justify-content: center;
    // // align-items: center;
    // flex-grow: 1;
  }
}
