.button {
  position: relative;
  z-index: 1;
  padding: 15px 20px;
  border: none;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: $color-btn;

  overflow: hidden;
  transition: 0.4s;
}

.button__hover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  background: $color-accent;
  border-radius: 100%;
  border: 1px solid $color-accent;
  overflow: hidden;

  // transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(0);
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.button--transparent-color {
  border: 1px solid $color-accent;
  color: $color-accent;
  background-color: transparent;
}

.button--transparent-color:hover,
.button--transparent-color:focus {
  color: #ffffff;
  background-color: $color-btn;
}

.button__hover.active {
  animation: ripple 1s ease forwards;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 4px 1px rgba(0,0,0, 0.8);
}

.button:focus {
  transform: translateY(0);
  box-shadow: 1px 3px 4px 1px rgba(0,0,0, 0.0);
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(300);
    opacity: 0;
  }
}