.button {
  padding: 15px 20px;
  border: none;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: $color-btn;
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.button:hover,
.button:focus {}
