.title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

@media (min-width: $desktop_s) {
  // .title {
  //   font-size: ;
  // }
}